div.btn{float: left;width: 110px;height: 300px;margin-right: 10px;}
div.btn li{width: 110px;height: 75px;background-color: dodgerblue;padding-top: 18px;color: white;}
div.btn li:nth-child(2){background-image: url(../images/li_bg.png);}
div.btn li:nth-child(3){background-color:#0099cb;padding-left: 2px;}
div.btn li:nth-child(4){background-color:#0099cb;padding-left: 2px;}
div.btn li:hover{width: 110px;height: 75px;background-color:white;color:gray;}
div.btn li img{float: left;padding-top: 5px;margin-left: 10px;margin-right: 3px;}
div.btn li p{float: left;padding-top: 10px;font-size: 14px;}

form{width: 482px;height: 200px;padding-top: 25px;float: left;}
fieldset li:first-child{margin-bottom: 10px;}

fieldset{border: 0 none;}
		legend{display: block;position: absolute;right: 0;top: -9999px;}
		.f_layer{width: 350px;_margin: 0 auto;}
		.f_layer fieldset label{display: block;padding: 5px 0;}
		.f_layer fieldset select{display: block;
								width: 100%;
								height: 30px;
								font-size: 1em;
								text-indent: 8px;
								border-radius: 5px;}

        .f_layer fieldset .sleft ,
        .f_layer fieldset .sright{float: left;}
        
        .f_layer fieldset .sleft{width: 170px;margin-right: 10px;}
        .f_layer fieldset .sright{width: 170px;margin-bottom: 13px;}

		.f_layer fieldset .sleft01 ,
		.f_layer fieldset .sright01,
        .f_layer fieldset .sright02
        {float: left;}
        
        .f_layer fieldset .sleft01{width: 170px;margin-right: 10px;}
		.f_layer fieldset .sright01{width: 80px;margin-right: 10px;}
		.f_layer fieldset .sright02{width: 80px;}

		.f_layer fieldset .sleft input
		{
			width: 100%;border-radius: 5px;border: 1px solid #aaa;
			height: 30px;text-indent: 8px;font-size: 1em;font-weight:bold;
		}
        .f_layer fieldset .sright input
		{
			width: 100%;border-radius: 5px;border: 1px solid #aaa;
			height: 30px;text-indent: 8px;font-size: 1em;font-weight:bold;
		}
        .f_layer fieldset .sright01 input,
        .f_layer fieldset .sright02 input,
        .f_layer fieldset .sleft01 input
        {width: 100%;border-radius: 5px;border: 1px solid #aaa;
			height: 30px;text-indent: 8px;font-size: 1em;font-weight:bold;}
div.firstTwrap{width: 350px;height: 35px;margin-top: 20px;}
div.firstTwrap a{width: 350px;height: 35px;background-color:#ea4f1f;border: 1px solid #ea4f1f;border-radius: 5px;
display: block;}
div.firstTwrap img{float: left;margin-left: 120px;margin-right: 10px;margin-top: 8px;}
div.firstTwrap p{color:white;line-height: 35px;float: left;text-align: center;}						  	   						 
<a href="#"> 
					            <ul class="bx-pager">
					             <li class="clearfix" data-slide-index="0">
					                <img src="images/house_icon.png" alt="">
					                <p>공항예약</p>
					             </li>
					              <li class="clearfix" data-slide-index="1">
					                <img src="images/house_icon.png" alt="">
					                <p>호텔예약</p>
					             </li>
					             <li class="clearfix" data-slide-index="2">
					                <img src="images/house_icon.png" alt="">
					                <p>렌트카</p>
					             </li>
					              <li class="clearfix" data-slide-index="3">
					                <img src="images/house_icon.png" alt="">
					                <p>휴양지</p>
					             </li>                                                               
					            </ul>
					           </a>


					     
<div class="btn">
					          	<a href="#" data-slide-index="0">
						           	<img src="images/house_icon.png" alt="">
				          	     	<p>공항예약</p>
			          	     	</a>
			          	     	<a href="#" data-slide-index="1">
						           	<img src="images/house_icon.png" alt="">
				          	     	<p>호텔예약</p>
			          	     	</a>
			          	     	<a href="#" data-slide-index="2">
						           	<img src="images/house_icon.png" alt="">
				          	     	<p>렌트카</p>
			          	     	</a>
			          	     	<a href="#" data-slide-index="3">
						           	<img src="images/house_icon.png" alt="">
				          	     	<p>휴양지</p>
			          	     	</a>
							</div>
					           