@charset "utf-8";

header#main_header{
	height: 1950px;
	background-color: lightgray;
	position: relative;
}
/* header_top */
	ul.util_menu{margin-left: auto;width: 378px;}
	ul.util_menu li{float: left;}
	ul.util_menu>li>a{
		display: block;font-size: 13px;color:white;padding-left:17px;
		padding-right: 16px;line-height: 15px;padding-top: 5px;
	}
	ul.util_menu li:last-child{width: 88px;padding-left: 3px;}
	ul.util_menu li:last-child img{position: absolute;top: 10px;right: 5px;}
	


	#header_top{
		width: 1260px;_height: 50px;_background-color: pink;
		position: absolute;left: 50%;margin-left: -630px;
		top: 40px;
		z-index: 1;
		line-height: 65px;
	}
	#header_top > h1{float: left;_background-color: #f00;height: 50px;}
	#header_top > h1 img{display: block;}
	#header_top > #main_menu{float: right;_background-color: #0f0;}
	#main_menu{line-height: 65px;}
	#main_menu>ul.menu{}
	#main_menu>ul.menu>li{float: left;height: 50px;}
	#main_menu>ul.menu>li>a{display: block;line-height: 50px;padding: 0 25px;color:white;}
	#main_menu>ul.menu>li:last-child img{position: absolute;top: 39px;right: 0;}

/* slider */

	.slider_wrap{height:1005px;}
	.slider_wrap ul li{height: 1005px;background-color:skyblue;}
	.slider_wrap li.slide_1st{
		background: url(../images/main_slider_bg01.jpg) no-repeat center;
		background-size: cover;
	}
	.slider_wrap li.slide_2st{
		background: url(../images/main_slider_bg02.png) no-repeat center;
		background-size: cover;
	}
	.slider_wrap li.slide_3st{
		background: url(../images/main_slider_bg02.png) no-repeat center;
		background-size: cover;
	}

	.slider_wrap .slider_txt{
		width: 900px;
		position: absolute;
		top: 35%;
		left: 50%;margin-left: -450px;
		_text-align: center;
		color:white;
	}
	.slider_wrap .slider_txt>p{font-size: 18px;}
	.slider_wrap .slider_txt h3{
		font-size:37PX;
		border-bottom: 3px solid #fff;
		margin-bottom: 10px;
		letter-spacing: 10px;
	}
	 

	.slider_wrap .slider_txt .pWrap{
		background-color: #fff;color:#614d36;width: 130px;
		text-align: center;
	}

	.slider_wrap .slider_txt .box a{
		display: block;width: 200px;
		color:white;
		height: 35px;
		border: 2px solid #fff;
		_line-height: 35px;
		text-align: center;
		margin-top: 10px;
		padding-top: 4px;

	}

	.slider_wrap .slider_txt .box a:hover{color:white;background-color:rgba(0,0,0,0.5);_font-weight: bold;}

	.bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    background: #fff;}

/* content */

 .content{
 width: 1260px;margin: 0 auto;
 position: absolute;
 left: 50%;
 margin-left: -630px;
 bottom: 0;
}   
.content>ul>li{
	float: left;
	 width: 25%;
	height: 315px; 
	background-color: #fff;
}
.content>ul>li img{display: block;}

.content>ul>li.ct1st{
	height: 630px;	
	position: relative;
}

.content>ul>li.ct1st .li_1st_textWrap{position: absolute;top: 70px;left: 33px;}
.content>ul>li.ct1st .li_1st_textWrap p.one{
	color:white;
	letter-spacing:4px;
	font-weight: bold;
	position: absolute;
	top: 90px;
	left: 35px;

}
.content>ul>li.ct1st .li_1st_textWrap p.two{
	color: white;
	letter-spacing:3px;
	position: absolute;
	position: absolute;
	top: 130px;
	left: 28px;
	display: block;
	width: 190px;
	height: 35px;
	text-align: center;
	padding-top: 5px;
	border: 2px solid #fff;
	border-radius: 999px;

}
.content>ul>li.ct1st .li_1st_textWrap p.two:hover{background-color:rgba(0,0,0,0.5) ;}

.content>ul>li.ct2st{width: 75%;position: relative;}
.content>ul>li.ct2st .slider01Wrap{height: 315px;}
.content>ul>li.ct2st .slider01Wrap .blackBox{
	height: 315px;width: 315px;background-color: rgba(0,0,0,0.6);
	position: absolute;top: 0;right: 0;
}
.content>ul>li.ct2st .slider01Wrap .blackBox .pWrap{position: absolute;top: 40%;height: 100px;width:300px;padding-left:20px;}
.content>ul>li.ct2st .slider01Wrap .blackBox p.one01{
	color:white;font-size: 23px;_position: absolute;left: 10px;height: 53px;
}
.content>ul>li.ct2st .slider01Wrap .blackBox p.one01:after{
		content:"";display: block;width:280px;height: 2px;
		background-color: #fff;margin: 10px 0;
	}
.content>ul>li.ct2st .slider01Wrap .blackBox p.two01{color:white;_width: 250px;left: 10px;_top: 50px;}
.content>ul>li.ct2st .slider01Wrap ul li{height: 315px;}

/*slider01*/
li.ct2st .bx-wrapper .bx-pager,li.ct2st  .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom:15px;
    right: 0;
    width: 100px;
    z-index: 1;
    
}
li.ct3st .bx-wrapper .bx-pager,li.ct3st  .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom:15px;
    left: 0;
    width: 100px;
    z-index: 1;
    
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #000;}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #244f98;
}
/* slider01 ë */

.content>ul>li.ct3st{
	width: 75%;

}


.content>ul>li.ct3st{width: 75%;background-color: skyblue;position: relative;}
.content>ul>li.ct3st .slider02Wrap{height: 315px;}
.content>ul>li.ct3st .slider02Wrap .blackBox01{
	height: 315px;width: 315px;background-color: rgba(0,0,0,0.7);
	position: absolute;top: 0;left: 0;
}
.content>ul>li.ct3st .slider02Wrap .blackBox01 .pWrap{position: absolute;top: 40%;height: 100px;width:300px;padding-left:20px;}
.content>ul>li.ct3st .slider02Wrap .blackBox01 p.one01{
	color:white;font-size: 23px;_position: absolute;left: 10px;height: 53px;
}
.content>ul>li.ct3st .slider02Wrap .blackBox01 p.one01:after{
		content:"";display: block;width:280px;height: 2px;
		background-color: #fff;margin: 10px 0;
	}
.content>ul>li.ct3st .slider02Wrap .blackBox01 p.two01{color:white;_width: 250px;left: 10px;_top: 50px;}
.content>ul>li.ct3st .slider02Wrap ul li{height: 315px;}


.content>ul>li.ct4st{width: 75%;background-color: darkgreen;}
.content>ul>li.ct5st{background-color: yellow;position: relative;_overflow: hidden;}
.content>ul>li.ct5st img:nth-child(2){
	position: absolute;top:50%;left:50%;
	transform: translate(-50%,-50%);
}
.content>ul>li.ct5st:hover img:first-child{transform:scale(1.1);transition: 0.3s}

.content>ul>li.ct6st{width:100%;background-color: green;}

